:root {
  --primary-color: #E93B77;
  --blue-color: #1A73E7;
  --white-color: #ffffff;
  --gray-color: #9B9B9B;
  --black-color: #1B1B1B;
  --green-color: #4CAF50;
  --border-color: #C7CCD0;
  --danger-color: red;
}
